@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
  .hero-button {
    @apply p-4 border-4 rounded-3xl border-[#f18805] bg-[#16cfcb] hover:scale-110 absolute top-44 text-white;
  }
  .progress-bar {
    @apply absolute h-[100%] w-[100%];
  }
  .progress-bar-you {
    @apply h-[100%] w-[100%];
  }
}
.background-site {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    200deg,
    rgba(251, 169, 44, 1) 38%,
    rgba(255, 235, 59, 0.9) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    200deg,
    rgba(251, 169, 44, 1) 38%,
    rgba(255, 235, 59, 0.9) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    200deg,
    rgba(251, 169, 44, 1) 38%,
    rgba(255, 235, 59, 0.9) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFEB3B', endColorstr='#FBA92C', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    200deg,
    rgba(251, 169, 44, 1) 38%,
    rgba(255, 235, 59, 0.9) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    200deg,
    rgba(251, 169, 44, 1) 38%,
    rgba(255, 235, 59, 0.9) 100%
  );
}
